pipeline/anico_response_file_export.json
{
	"name": "anico_response_file_export",
	"properties": {
		"activities": [
			{
				"name": "Copy_Formatted_Anico_Data_to_File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Export].[p_Get_Last_AnicoReponse_Formatted]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FixedWidthRecord",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "export_last_anico_response_formatted",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "BlobStorage_FixedWidth",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('Filename')",
								"type": "Expression"
							},
							"FolderPath": {
								"value": "@pipeline().parameters.OutputFolder",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Archive_Success_File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_Formatted_Anico_Data_to_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "BlobStorage_FixedWidth",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('Filename')",
								"type": "Expression"
							},
							"FolderPath": {
								"value": "@pipeline().parameters.OutputFolder",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "BlobStorage_FixedWidth",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('Filename')",
								"type": "Expression"
							},
							"FolderPath": "Anico/archive"
						}
					}
				]
			},
			{
				"name": "Set Filename",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Filename",
					"value": {
						"value": "@concat('ANICO_RECONCILIATION_', formatDateTime(utcnow(), 'MMddyyyy'), '.txt')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"OutputFolder": {
				"type": "string",
				"defaultValue": "Anico/out"
			},
			"ArchiveFolder": {
				"type": "string",
				"defaultValue": "Anico/archive"
			}
		},
		"variables": {
			"Filename": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-10-16T12:00:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}